select option {
    background-color: #2b343a; 
}

#addFacultyModal .modal-content, .myModal .modal-content {
    background: #282E35;
    
}

#addFacultyModal .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;

}

.rooms-card {
    width: 80%;
    margin: 0 auto;
}

.building-name{
    font-size: 1.8em;
}

.building-icon{
    font-size: 1.4em;
}

.room-name, .room-icon{
    font-size: 1.1em;
}